/* PC、スマホ共通スタイル */
body {
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
}

p {
  font-size: 15px;
}

/*================
PC用のスタイル
=================*/
/* 横幅設定 */

body {
  background-color:#e4e28d;		/*ページ全体の背景色*/
  max-width: 100;
  min-width: 100;
  margin: 0 100 100 0;
  
}

/* ヘッダー */
header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

/* ナビゲーションのレイアウト */
#nav-pc {
  text-align: right;
  font-size: 14px;
  padding-top: 15px;
  position: absolute;
  top: 50px;
  right: 10px;

}

/* ナビゲーションのリンクの装飾設定 */
#google-fonts > a {
  text-decoration: none;
  margin-left: 20px;
}
#google-fonts > a:link {
  color: #4603ff;
}
#google-fonts > a:visited {
  color: #4603ff;
}
#google-fonts > a:hover {
  color: #4603ff;
  text-decoration: underline;
}
#google-fonts > a:active {
  color: #4603ff;
}

/* メインビジュアル */
#main-visual {
  position: relative;
  height: 400px;
}

#main-message {
  position: absolute;
  top: 0;
  background-color: #da0f52;
  color: #ffffff;
  border-radius: 50px 25px 50px 50px / 50px 25px 50px 25px;
  max-width: 620px;
  height: 100%;
  width: 100%;
  z-index: 11;
}

#main-message > h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 100px 0 0 50px;
}

#main-message > p {
  font-size: 28px;
  margin: auto 70px auto;

  background-color: #e74c3c;
  animation: bg-color 10s infinite;
}

@keyframes bg-color {
  0% { background-color: #e74c3c; }
  20% { background-color: #f1c40f; }
  40% { background-color: #1abc9c; }
  60% { background-color: #3498db; }
  80% { background-color: #9b59b6; }
  100% { background-color: #e74c3c; }
}

#main-visual > img {
  max-width: 800px;
  border-radius: 30% 70% 85% 15% / 30% 79% 21% 70% ;
  position: absolute;
  top: 100;
  right: 50px;
  z-index: 10;

}

#main-pull {
  position: absolute;
  top: 600px;
  right: 200px;
  font-size: small;
}

button {
  width:20%;
  height: 20%;
}

.suprise-img{
  background-image:url(img/koroatu.jpg);           
  background-repeat:  no-repeat;               
}

img[src="img/koroatu.jpg"] {
  width:max-width;                                  
  height:max-content;                                 
  z-index: 12;
}

.btn {
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 10%;
}